<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Boost your cognitive skills with our fun and challenging brain-training game. Just 10 min/day for better brain health!</p>
      </div>
      <div class="col-lg-4">
        <p>Keep your brain healthy and sharp with our brain-enhancing puzzle game!</p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://play.google.com/store/apps/details?id=thelouras.pattern.game" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Our First App
        </a>
      </div>
    </div>
  </div>
</section>
